.icon2-17 {
  left: calc(50% - 625px);
  width: 463px;
  z-index: 0;
}
.icon-17,
.icon2-17,
.icon3-17 {
  position: absolute;
  margin: 0 !important;
  top: 26px;
  height: 84px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.icon-17 {
  left: calc(50% - 11px);
  border-radius: var(--br-2xs);
  width: 85px;
  z-index: 1;
}
.icon3-17 {
  left: calc(50% + 115px);
  width: 516px;
  z-index: 2;
}
.icon2-1-parent5 {
  top: 0;
  border-radius: var(--br-3xs);
  border-bottom: 2px solid var(--color-rosybrown);
  box-sizing: border-box;
  height: 129px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-16xl) var(--padding-141xl);
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-sm);
}
.footer15,
.hot-ng-3-child,
.icon2-1-parent5 {
  position: absolute;
  left: 0;
  width: 1440px;
}
.hot-ng-3-child {
  top: 129px;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid var(--color-rosybrown);
  box-sizing: border-box;
  height: 72px;
}
.footer15 {
  top: 0;
  background-color: var(--color-forestgreen);
  height: 283px;
}
.khoa-cng-ngh-container15 {
  line-break: anywhere;
  width: 100%;
}
.khoa-cng-ngh-container14 {
  position: absolute;
  top: 86px;
  left: 285px;
  display: flex;
  align-items: center;
  width: 397px;
  height: 91px;
}
.icon-57 {
  position: absolute;
  top: 72px;
  left: 132px;
  border-radius: var(--br-93xl-5);
  width: 126px;
  height: 126px;
  object-fit: cover;
}
.span7 {
  text-decoration: underline;
}
.a7 {
  color: inherit;
}
.thng-tin-lin-container14 {
  position: absolute;
  top: 83px;
  left: 791px;
  font-size: var(--font-size-xl);
  display: flex;
  color: var(--font-inherit);
  text-align: left;
  align-items: center;
  width: 546px;
  height: 120px;
}
.footer14 {
  position: absolute;
  top: 2689px;
  left: 2px;
  width: 1440px;
  height: 283px;
  color: var(--color-white);
}
.l-khai-ging-nm-hc-2022-202 {
  margin: 0;
  font-size: var(--font-size-21xl);
}
.ha-chung-khng {
  margin: 0;
}
.l-khai-ging-container {
  position: absolute;
  top: 235px;
  left: 161px;
  text-align: left;
  display: flex;
  align-items: center;
  width: 1136px;
  height: 841px;
  font-size: var(--font-size-13xl);
}
.image-17-icon,
.image-18-icon,
.image-19-icon,
.image-20-icon {
  position: absolute;
  top: 1107px;
  left: 161px;
  width: 1136px;
  height: 360px;
  object-fit: cover;
}
.image-18-icon,
.image-19-icon,
.image-20-icon {
  top: 1504px;
  width: 1144px;
  height: 346px;
}
.image-19-icon,
.image-20-icon {
  top: 1887px;
  left: 155px;
  width: 1141px;
  height: 333px;
}
.image-20-icon {
  top: 2257px;
  left: 158px;
  width: 1135px;
  height: 307px;
}
.trang-ch49 {
  position: relative;
  opacity: 0.8;
}
.trang-ch-wrapper46,
.trang-ch-wrapper47,
.trang-ch-wrapper48,
.trang-ch-wrapper49,
.trang-ch-wrapper50,
.trang-ch-wrapper51,
.trang-ch-wrapper52 {
  position: absolute;
  height: 99.96%;
  width: 15.3%;
  top: 0.04%;
  right: 38.81%;
  bottom: 0;
  left: 45.89%;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.trang-ch-wrapper47,
.trang-ch-wrapper48,
.trang-ch-wrapper49,
.trang-ch-wrapper50,
.trang-ch-wrapper51,
.trang-ch-wrapper52 {
  width: 11.92%;
  right: 13.45%;
  left: 74.64%;
}
.trang-ch-wrapper48,
.trang-ch-wrapper49,
.trang-ch-wrapper50,
.trang-ch-wrapper51,
.trang-ch-wrapper52 {
  width: 13.69%;
  top: 0;
  right: 0;
  bottom: 0.04%;
  left: 86.31%;
}
.trang-ch-wrapper49,
.trang-ch-wrapper50,
.trang-ch-wrapper51,
.trang-ch-wrapper52 {
  width: 13.45%;
  top: 0.04%;
  right: 25.36%;
  bottom: 0;
  left: 61.19%;
}
.trang-ch-wrapper50,
.trang-ch-wrapper51,
.trang-ch-wrapper52 {
  width: 15.3%;
  right: 54.11%;
  left: 30.6%;
}
.trang-ch-wrapper51,
.trang-ch-wrapper52 {
  right: 69.4%;
  left: 15.3%;
}
.trang-ch-wrapper52 {
  top: 0;
  right: 84.7%;
  bottom: 0.04%;
  left: 0;
}
.navbar7 {
  position: absolute;
  top: 129px;
  left: 99px;
  width: 1242px;
  height: 69.03px;
}
.hot-ng-3 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2972px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
