.footer11,
.hot-ng-1-child {
  position: absolute;
  left: 0;
  width: 1440px;
}
.hot-ng-1-child {
  top: 129px;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid var(--color-rosybrown);
  box-sizing: border-box;
  height: 72px;
}
.footer11 {
  top: 0;
  background-color: var(--color-forestgreen);
  height: 283px;
}
.khoa-cng-ngh-container11 {
  line-break: anywhere;
  width: 100%;
}
.khoa-cng-ngh-container10 {
  position: absolute;
  top: 86px;
  left: 285px;
  display: flex;
  align-items: center;
  width: 397px;
  height: 91px;
}
.icon-55 {
  position: absolute;
  top: 72px;
  left: 132px;
  border-radius: var(--br-93xl-5);
  width: 126px;
  height: 126px;
  object-fit: cover;
}
.span5 {
  text-decoration: underline;
}
.a5 {
  color: inherit;
}
.thng-tin-lin-container10 {
  position: absolute;
  top: 83px;
  left: 791px;
  font-size: var(--font-size-xl);
  display: flex;
  color: var(--font-inherit);
  text-align: left;
  align-items: center;
  width: 546px;
  height: 120px;
}
.footer10 {
  position: absolute;
  top: 2689px;
  left: 2px;
  width: 1440px;
  height: 283px;
  text-align: center;
  color: var(--color-white);
}
.tri-nghim-khm-ph-khoa-cng {
  margin: 0;
  font-size: var(--font-size-21xl);
}
.blank-line1 {
  margin: 0;
  font-size: var(--font-size-13xl);
}
.y-l-mt {
  margin: 0;
}
.tri-nghim-khm-container {
  position: absolute;
  top: 283px;
  left: 156px;
  display: flex;
  align-items: center;
  width: 1174px;
  font-size: var(--font-size-11xl);
}
.image-12-icon,
.image-13-icon,
.image-14-icon {
  position: absolute;
  top: 1240px;
  left: 226px;
  width: 1034px;
  height: 423px;
  object-fit: cover;
}
.image-13-icon,
.image-14-icon {
  top: 1725px;
  height: 412px;
}
.image-14-icon {
  top: 2200px;
  height: 424px;
}
.chp-hnh-lu,
.ks-la-quc {
  position: absolute;
  top: 2137px;
  left: 226px;
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
  width: 1040px;
  height: 25px;
}
.chp-hnh-lu {
  top: 2624px;
  width: 202px;
  height: 32px;
}
.icon2-15 {
  left: calc(50% - 625px);
  width: 463px;
  z-index: 0;
}
.icon-15,
.icon2-15,
.icon3-15 {
  position: absolute;
  margin: 0 !important;
  top: 26px;
  height: 84px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.icon-15 {
  left: calc(50% - 11px);
  border-radius: var(--br-2xs);
  width: 85px;
  z-index: 1;
}
.icon3-15 {
  left: calc(50% + 115px);
  width: 516px;
  z-index: 2;
}
.icon2-1-parent3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  border-bottom: 2px solid var(--color-rosybrown);
  box-sizing: border-box;
  width: 1440px;
  height: 129px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-16xl) var(--padding-141xl);
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-sm);
}
.trang-ch35 {
  position: relative;
  opacity: 0.8;
}
.trang-ch-wrapper32,
.trang-ch-wrapper33,
.trang-ch-wrapper34,
.trang-ch-wrapper35,
.trang-ch-wrapper36,
.trang-ch-wrapper37,
.trang-ch-wrapper38 {
  position: absolute;
  height: 99.96%;
  width: 15.3%;
  top: 0.04%;
  right: 38.81%;
  bottom: 0;
  left: 45.89%;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.trang-ch-wrapper33,
.trang-ch-wrapper34,
.trang-ch-wrapper35,
.trang-ch-wrapper36,
.trang-ch-wrapper37,
.trang-ch-wrapper38 {
  width: 11.92%;
  right: 13.45%;
  left: 74.64%;
}
.trang-ch-wrapper34,
.trang-ch-wrapper35,
.trang-ch-wrapper36,
.trang-ch-wrapper37,
.trang-ch-wrapper38 {
  width: 13.69%;
  top: 0;
  right: 0;
  bottom: 0.04%;
  left: 86.31%;
}
.trang-ch-wrapper35,
.trang-ch-wrapper36,
.trang-ch-wrapper37,
.trang-ch-wrapper38 {
  width: 13.45%;
  top: 0.04%;
  right: 25.36%;
  bottom: 0;
  left: 61.19%;
}
.trang-ch-wrapper36,
.trang-ch-wrapper37,
.trang-ch-wrapper38 {
  width: 15.3%;
  right: 54.11%;
  left: 30.6%;
}
.trang-ch-wrapper37,
.trang-ch-wrapper38 {
  right: 69.4%;
  left: 15.3%;
}
.trang-ch-wrapper38 {
  top: 0;
  right: 84.7%;
  bottom: 0.04%;
  left: 0;
}
.navbar5 {
  position: absolute;
  top: 129px;
  left: 99px;
  width: 1242px;
  height: 69.03px;
  text-align: center;
}
.hot-ng-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2972px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
