.icon2-16 {
  left: calc(50% - 625px);
  width: 463px;
  z-index: 0;
}
.icon-16,
.icon2-16,
.icon3-16 {
  position: absolute;
  margin: 0 !important;
  top: 26px;
  height: 84px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.icon-16 {
  left: calc(50% - 11px);
  border-radius: var(--br-2xs);
  width: 85px;
  z-index: 1;
}
.icon3-16 {
  left: calc(50% + 115px);
  width: 516px;
  z-index: 2;
}
.icon2-1-parent4 {
  top: 0;
  border-radius: var(--br-3xs);
  border-bottom: 2px solid var(--color-rosybrown);
  box-sizing: border-box;
  height: 129px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-16xl) var(--padding-141xl);
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-sm);
}
.footer13,
.hot-ng-2-child,
.icon2-1-parent4 {
  position: absolute;
  left: 0;
  width: 1440px;
}
.hot-ng-2-child {
  top: 129px;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid var(--color-rosybrown);
  box-sizing: border-box;
  height: 72px;
}
.footer13 {
  top: 0;
  background-color: var(--color-forestgreen);
  height: 283px;
}
.khoa-cng-ngh-container13 {
  line-break: anywhere;
  width: 100%;
}
.khoa-cng-ngh-container12 {
  position: absolute;
  top: 86px;
  left: 285px;
  display: flex;
  align-items: center;
  width: 397px;
  height: 91px;
}
.icon-56 {
  position: absolute;
  top: 72px;
  left: 132px;
  border-radius: var(--br-93xl-5);
  width: 126px;
  height: 126px;
  object-fit: cover;
}
.span6 {
  text-decoration: underline;
}
.a6 {
  color: inherit;
}
.thng-tin-lin-container12 {
  position: absolute;
  top: 83px;
  left: 791px;
  font-size: var(--font-size-xl);
  display: flex;
  color: var(--font-inherit);
  text-align: left;
  align-items: center;
  width: 546px;
  height: 120px;
}
.footer12 {
  position: absolute;
  top: 2389px;
  left: 0;
  width: 1440px;
  height: 283px;
  color: var(--color-white);
}
.vng-chung-kt-cuc-thi-sng-t {
  margin: 0;
  font-size: var(--font-size-21xl);
}
.sau-vng-s {
  margin: 0;
}
.vng-chung-kt-container {
  position: absolute;
  top: 236px;
  left: 161px;
  text-align: left;
  display: flex;
  align-items: center;
  width: 1135px;
  height: 988px;
}
.image-15-icon,
.image-16-icon {
  position: absolute;
  top: 1331px;
  left: 161px;
  width: 1100px;
  height: 461px;
  object-fit: cover;
}
.image-16-icon {
  top: 1860px;
}
.trang-ch42 {
  position: relative;
  opacity: 0.8;
}
.trang-ch-wrapper39,
.trang-ch-wrapper40,
.trang-ch-wrapper41,
.trang-ch-wrapper42,
.trang-ch-wrapper43,
.trang-ch-wrapper44,
.trang-ch-wrapper45 {
  position: absolute;
  height: 99.96%;
  width: 15.3%;
  top: 0.04%;
  right: 38.81%;
  bottom: 0;
  left: 45.89%;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.trang-ch-wrapper40,
.trang-ch-wrapper41,
.trang-ch-wrapper42,
.trang-ch-wrapper43,
.trang-ch-wrapper44,
.trang-ch-wrapper45 {
  width: 11.92%;
  right: 13.45%;
  left: 74.64%;
}
.trang-ch-wrapper41,
.trang-ch-wrapper42,
.trang-ch-wrapper43,
.trang-ch-wrapper44,
.trang-ch-wrapper45 {
  width: 13.69%;
  top: 0;
  right: 0;
  bottom: 0.04%;
  left: 86.31%;
}
.trang-ch-wrapper42,
.trang-ch-wrapper43,
.trang-ch-wrapper44,
.trang-ch-wrapper45 {
  width: 13.45%;
  top: 0.04%;
  right: 25.36%;
  bottom: 0;
  left: 61.19%;
}
.trang-ch-wrapper43,
.trang-ch-wrapper44,
.trang-ch-wrapper45 {
  width: 15.3%;
  right: 54.11%;
  left: 30.6%;
}
.trang-ch-wrapper44,
.trang-ch-wrapper45 {
  right: 69.4%;
  left: 15.3%;
}
.trang-ch-wrapper45 {
  top: 0;
  right: 84.7%;
  bottom: 0.04%;
  left: 0;
}
.navbar6 {
  position: absolute;
  top: 129px;
  left: 99px;
  width: 1242px;
  height: 69.03px;
}
.hot-ng-2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2672px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
