.icon2-12 {
  left: calc(50% - 625px);
  width: 463px;
  z-index: 0;
}
.icon-12,
.icon2-12,
.icon3-12 {
  position: absolute;
  margin: 0 !important;
  top: 26px;
  height: 84px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.icon-12 {
  left: calc(50% - 11px);
  border-radius: var(--br-2xs);
  width: 85px;
  z-index: 1;
}
.icon3-12 {
  left: calc(50% + 115px);
  width: 516px;
  z-index: 2;
}
.icon2-1-container,
.o-to-child {
  position: absolute;
  left: 0;
  border-radius: var(--br-3xs);
  border-bottom: 2px solid var(--color-rosybrown);
  box-sizing: border-box;
  width: 1440px;
}
.icon2-1-container {
  top: 0;
  height: 129px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-16xl) var(--padding-141xl);
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-sm);
}
.o-to-child {
  top: 129px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 72px;
}
.ngnh-cng-ngh {
  position: absolute;
  top: 264px;
  left: 509px;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 423px;
  height: 41px;
  -webkit-text-stroke: 1px #000;
}
.ngnh-o-to {
  margin: 0;
}
.ngnh-o-to-container1 {
  line-break: anywhere;
  width: 100%;
}
.ngnh-o-to-container {
  position: absolute;
  top: 305px;
  left: 159px;
  font-weight: 200;
  text-align: left;
  display: flex;
  align-items: center;
  width: 1147px;
  height: 211px;
  -webkit-text-stroke: 1px #000;
}
.tn-ting-anh {
  margin-bottom: 0;
}
.tn-ting-anh-information-te {
  margin: 0;
  padding-left: var(--padding-13xl);
}
.tn-ting-anh-container {
  position: absolute;
  top: 516px;
  left: 143px;
  font-size: var(--font-inherit);
  font-weight: 200;
  font-family: var(--font-inherit);
  text-align: left;
  display: flex;
  align-items: center;
  width: 1126px;
  height: 935px;
  -webkit-text-stroke: 1px #000;
}
.upkhoa-cong-nghe-thong-tin-1-1-icon {
  position: absolute;
  top: 1480px;
  left: 112px;
  width: 1217px;
  height: 300px;
  object-fit: cover;
}
.footer5 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-forestgreen);
  width: 1440px;
  height: 283px;
}
.khoa-cng-ngh-container4 {
  position: absolute;
  top: 86px;
  left: 285px;
  display: flex;
  align-items: center;
  width: 397px;
  height: 91px;
}
.icon-52 {
  position: absolute;
  top: 72px;
  left: 132px;
  border-radius: var(--br-93xl-5);
  width: 126px;
  height: 126px;
  object-fit: cover;
}
.span2 {
  text-decoration: underline;
}
.a2 {
  color: inherit;
}
.thng-tin-lin-container4 {
  position: absolute;
  top: 83px;
  left: 791px;
  font-size: var(--font-size-xl);
  display: flex;
  color: var(--font-inherit);
  text-align: left;
  align-items: center;
  width: 546px;
  height: 120px;
}
.footer4 {
  position: absolute;
  top: 2047px;
  left: 0;
  width: 1440px;
  height: 283px;
  color: var(--color-white);
}
.trang-ch14 {
  position: relative;
  opacity: 0.8;
}
.trang-ch-wrapper11,
.trang-ch-wrapper12,
.trang-ch-wrapper13,
.trang-ch-wrapper14,
.trang-ch-wrapper15,
.trang-ch-wrapper16,
.trang-ch-wrapper17 {
  position: absolute;
  height: 99.96%;
  width: 15.3%;
  top: 0.04%;
  right: 38.81%;
  bottom: 0;
  left: 45.89%;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.trang-ch-wrapper12,
.trang-ch-wrapper13,
.trang-ch-wrapper14,
.trang-ch-wrapper15,
.trang-ch-wrapper16,
.trang-ch-wrapper17 {
  width: 11.92%;
  right: 13.45%;
  left: 74.64%;
}
.trang-ch-wrapper13,
.trang-ch-wrapper14,
.trang-ch-wrapper15,
.trang-ch-wrapper16,
.trang-ch-wrapper17 {
  width: 13.69%;
  top: 0;
  right: 0;
  bottom: 0.04%;
  left: 86.31%;
}
.trang-ch-wrapper14,
.trang-ch-wrapper15,
.trang-ch-wrapper16,
.trang-ch-wrapper17 {
  width: 13.45%;
  top: 0.04%;
  right: 25.36%;
  bottom: 0;
  left: 61.19%;
}
.trang-ch-wrapper15,
.trang-ch-wrapper16,
.trang-ch-wrapper17 {
  width: 15.3%;
  right: 54.11%;
  left: 30.6%;
}
.trang-ch-wrapper16,
.trang-ch-wrapper17 {
  right: 69.4%;
  left: 15.3%;
}
.trang-ch-wrapper17 {
  top: 0;
  right: 84.7%;
  bottom: 0.04%;
  left: 0;
}
.navbar2 {
  position: absolute;
  top: 129px;
  left: 99px;
  width: 1242px;
  height: 69.03px;
}
.o-to {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2330px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
